.page {
  height: 100vh;
  background: radial-gradient(ellipse at bottom right, #0b243f 0%, #090a0c 100%);

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    z-index: 1;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 10%;
    text-align: center;
  }
}